---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.deployment.app.name }}"
  namespace: "{{ .Values.deployment.app.namespace }}"
spec:
  replicas: {{ .Values.deployment.app.replicaCount }}
  selector:
    matchLabels:
      app: "{{ .Values.deployment.app.name }}"
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: "{{ .Values.deployment.app.name }}"
    spec:
      serviceAccount: svc-accnt-s3
      containers:
        - name: "{{ .Values.deployment.app.name }}"
          image: 309318185333.dkr.ecr.ap-south-1.amazonaws.com/{{ .Values.deployment.app.docker }}:$IMAGE_TAG
          ports:
            - name: http
              containerPort: {{ .Values.deployment.app.port }}
          volumeMounts:
            - name: efs-pvc
              mountPath: /opt/uatefs/
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_NAME
            - name: DB_SSLMODE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DB_SSLMODE
            - name: ENABLE_ADMIN_OVERRIDE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: ENABLE_ADMIN_OVERRIDE
            - name: ADMIN_USER_IDS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: ADMIN_USER_IDS
            - name: ADMIN_ROLES
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: ADMIN_ROLES
            - name: UPLOAD_TO_STORAGE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: UPLOAD_TO_STORAGE
            - name: BANK_STMT_S3_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BANK_STMT_S3_ENABLED
            - name: DEVEL_MODE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: DEVEL_MODE
            - name: PAYLOAD_ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: PAYLOAD_ENC_KEY
            - name: RESPONSE_ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: RESPONSE_ENC_KEY
            - name: CATEGORIZATION_BATCH_SIZE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: CATEGORIZATION_BATCH_SIZE
            - name: VAPID_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: VAPID_PUBLIC_KEY
            - name: VAPID_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: VAPID_PRIVATE_KEY
            - name: VAPID_SUBJECT
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: VAPID_SUBJECT
            - name: BROWSER_PUSH_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_ENABLED
            - name: BROWSER_PUSH_POLL_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_POLL_SECS
            - name: BROWSER_PUSH_BATCH_SIZE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_BATCH_SIZE
            - name: BROWSER_PUSH_DIGEST_MINS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_DIGEST_MINS
            - name: BROWSER_PUSH_DIGEST_THROTTLE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_DIGEST_THROTTLE
            - name: BROWSER_PUSH_DIGEST_TOP_N
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BROWSER_PUSH_DIGEST_TOP_N
            - name: OUTBOX_WORKER_TIMEOUT_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OUTBOX_WORKER_TIMEOUT_SECS
            - name: OUTBOX_WORKER_BATCH_SIZE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OUTBOX_WORKER_BATCH_SIZE
            - name: OUTBOX_WORKER_POLL_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OUTBOX_WORKER_POLL_SECS
            - name: OUTBOX_WORKER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OUTBOX_WORKER_ENABLED
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AWS_SECRET_ACCESS_KEY
            - name: BANK_STMT_S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BANK_STMT_S3_BUCKET
            - name: BANK_STMT_S3_REGION
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: BANK_STMT_S3_REGION
            - name: FRONTEND_URL
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: FRONTEND_URL
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AZURE_CLIENT_ID
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AZURE_CLIENT_SECRET
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AZURE_TENANT_ID
            - name: AZURE_REDIRECT_URI
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AZURE_REDIRECT_URI
            - name: AZURE_GRAPH_TENANT_LABEL
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: AZURE_GRAPH_TENANT_LABEL
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_CLIENT_SECRET
            - name: GOOGLE_REDIRECT_URI
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_REDIRECT_URI
            - name: GOOGLE_DWD_SERVICE_ACCOUNT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_DWD_SERVICE_ACCOUNT_EMAIL
            - name: GOOGLE_DWD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_DWD_PRIVATE_KEY
            - name: GOOGLE_DWD_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_DWD_CLIENT_ID
            - name: GOOGLE_WORKSPACE_TENANT_LABEL
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GOOGLE_WORKSPACE_TENANT_LABEL
            - name: EMAIL_SERVICE_KEY
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_SERVICE_KEY
            - name: EMAIL_POLLER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_POLLER_ENABLED
            - name: EMAIL_POLL_INTERVAL_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_POLL_INTERVAL_SECS
            - name: GRAPH_POLLER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GRAPH_POLLER_ENABLED
            - name: GRAPH_POLL_INTERVAL_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: GRAPH_POLL_INTERVAL_SECS
            - name: OAUTH_POLLER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OAUTH_POLLER_ENABLED
            - name: OAUTH_POLL_INTERVAL_SECS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: OAUTH_POLL_INTERVAL_SECS
            - name: EMAIL_POLL_BATCH_SIZE
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_POLL_BATCH_SIZE
            - name: EMAIL_INBOUND_S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_INBOUND_S3_BUCKET
            - name: EMAIL_INBOUND_S3_REGION
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_INBOUND_S3_REGION
            - name: EMAIL_INBOUND_S3_PREFIX
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_INBOUND_S3_PREFIX
            - name: EMAIL_INBOUND_S3_PARSED_PREFIX
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_INBOUND_S3_PARSED_PREFIX
            - name: EMAIL_INBOUND_S3_ATTACH_PREFIX
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_INBOUND_S3_ATTACH_PREFIX
            - name: EMAIL_ALLOWED_MAILBOX_DOMAINS
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_ALLOWED_MAILBOX_DOMAINS
            - name: EMAIL_SES_RULE_SET_NAME
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_SES_RULE_SET_NAME
            - name: EMAIL_SES_IAM_ROLE_ARN
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: EMAIL_SES_IAM_ROLE_ARN
            - name: MAIL_OAUTH_MS_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_MS_CLIENT_ID
            - name: MAIL_OAUTH_MS_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_MS_CLIENT_SECRET
            - name: MAIL_OAUTH_GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_GOOGLE_CLIENT_ID
            - name: MAIL_OAUTH_GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_GOOGLE_CLIENT_SECRET
            - name: MAIL_OAUTH_REDIRECT_URI
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_REDIRECT_URI
            - name: MAIL_OAUTH_FRONTEND_URL
              valueFrom:
                secretKeyRef:
                  name: cimplruat-secrets
                  key: MAIL_OAUTH_FRONTEND_URL
            - name: ENV
              value: "uat"
            - name: APP_PORT
              value: "{{ .Values.deployment.app.port }}"
      volumes:
        - name: efs-pvc
          persistentVolumeClaim:
            claimName: efs
